<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='css file/index.css') }}">
    <title>Face Attendance System</title>
</head>
<body>
    <div class="container">
     <img src="{{ url_for('static', filename='images/college_logo.png') }}" alt="College Logo" class="logo">
        <h1>Welcome to ACE Face Attendance System</h1>
        <div class="navigation">
            <a href="/admin_login">Admin Login</a>
            <a href="/login">Student Login</a>
            <a href="/register">Student Register</a>
        </div>
    </div>
</body>
</html>
