<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="{{ url_for('static', filename='css file/student_forgot_password.css') }}">
<title>Forgot Password</title>
</head>
<body>
<div class="container">
  <h2>Forgot Password</h2>
  <form method="POST" action="/student_forgot_password">
    <label>Register Number:</label>
    <input type="text" name="register_number" required>
    <label>Email:</label>
    <input type="email" name="email" required>
    <button type="submit">Send Reset Link</button>
  </form>
  <div style="margin-top:15px;"><a href="/login">Back to Login</a></div>
</div>
</body>
</html>
